<!DOCTYPE html>
<html>
<head>
    <title>Loading...</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <div>
        <div class="loader"></div>
        <h1>Please wait while we process your request...</h1>
    </div>
    <script>
        var filename = "{{ filename }}";
        function checkStatus() {
            $.getJSON('/check_status/' + filename, function(data) {
                if (data.ready) {
                    window.location.href = '/recordings/' + filename;
                } else {
                    setTimeout(checkStatus, 5000);
                }
            }).fail(function() {
                console.log("Error checking status");
                setTimeout(checkStatus, 5000);
            });
        }
        checkStatus();
    </script>
</body>
</html>
