<!DOCTYPE html>
<html>
<head>
    <title>Chargement...</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
    <div id="floatingImages" class="floating-images"></div>
    <div class="content">
        <div class="loader"></div>
        <h1>Veuillez patienter pendant que nous traitons votre demande...</h1>
    </div>
    <script>
        var filename = "{{ filename }}";
        checkStatus(filename);
    </script>
</body>
</html>
