<!DOCTYPE html>
<html>
<head>
    <title>Loading...</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>Loading... Please wait.</h1>
    <script>
        var filename = "{{ filename }}";  // Ensuring this value is correctly passed from Flask
        function checkStatus() {
            $.getJSON('/check_status/' + filename, function(data) {
                if (data.ready) {
                    window.location.href = '/recordings/' + filename;
                } else {
                    setTimeout(checkStatus, 5000);  // Check every 5 seconds
                }
            }).fail(function() {
                console.log("Error checking status");
                setTimeout(checkStatus, 5000);  // Ensure we handle failures
            });
        }
        checkStatus();
    </script>
</body>
</html>
