<!DOCTYPE html>
<html>
<head>
    <title>Recording Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="floatingImages" class="floating-images"></div>
    <div class="content">
        <h1>Recording for {{ filename }}</h1>
        <!-- Dynamic image display based on the uploaded file -->
        <img src="{{ url_for('uploaded_file', filename=filename.rsplit('.', 1)[0] + '.jpg') }}" alt="Uploaded Image" style="max-width: 100%; height: auto;">
        <audio controls>
            <source src="{{ url_for('uploaded_file', filename=audio_filename) }}" type="audio/wav">
            Your browser does not support the audio element.
        </audio>
        <br>
        <a href="{{ url_for('uploaded_file', filename=audio_filename) }}" download="{{ audio_filename }}">Download Audio</a>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
